extends layout


block head

    script(src='/javascripts/shake.js')
    script(src='/javascripts/broadcaster.js')


block content

    #broadcaster.container-fluid
        .row-fluid.loading
            .loading-graphic
        .row-fluid.form
            .row-fluid
                p.directions Visit facepunch.joelongstreet.com on a desktop browser and enter the code you receive within the form below.
            .row-fluid
                .input-append#form
                    input.span10(type='text')
                    button#start.btn.btn-danger OK
        .row-fluid.ok-go
            h2 Start Punching!!!
        .row-fluid.error
            h2 There was an error
            button#retry.btn.btn-danger Retry