extends layout


block head

    script(src='/javascripts/broadcaster.js')


block content

    #broadcaster.container-fluid
        .row-fluid.loading
            .loading-graphic
        .row-fluid.form
            .row-fluid
                p.directions Visit <a href='http://facepunch.jit.su'>facepunch.jit.su</a> on a desktop browser and enter your special code
            .row-fluid
                .input-append#form
                    input.span10#secret(type='tel')
                    button#start.btn.btn-danger OK
        .row-fluid.ok-go
            h2 Start Punching!!!
            p#instructions Like, literally take your phone and start making flailing punching motions at the screen
        .row-fluid.error
            h3 Looks like the code you entered was wrong...
            .row-fluid
                button#retry.btn.btn-inverse.span5 Retry?