doctype 5
html
    head
        title FacePunch
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
        link(rel='stylesheet', href='/stylesheets/app.css')
        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Signika+Negative|Shojumaru')
        script(src='/socket.io/socket.io.js')
        script(src='/javascripts/jquery-2.0.0.min.js')
        script(src='/javascripts/bootstrap.js')

        - var bodyId = '';
        block head

    body(id='#{bodyId}')
        block content

        include analytics.html
        include facebook.html