extends layout


block head

    script(src='/javascripts/listener.js')


block content

    #listener.container-fluid
    
        .row-fluid
            h1 Face Punch!
            p You've punched this face <span id='count'>0</span> times

        .row-fluid
            #victim.box.span6.offset3
                p Drag Victim Here

        .row-fluid.social
            a#twitter_share.btn.social.btn-info(href='#')
                i.icon-twitter
                | Tweet
            a#facebook_share.btn.social.btn-primary(href='#')
                i.icon-facebook
                | Facebook

        p Visit the address <a href='http://facepunch.jit.su'>facepunch.jit.su</a> on your mobile device to start face punching. Your special code is
        .row-fluid.code-info
            #code.span2.offset5= code

    - for (var i=1; i<9; i++) {
        audio(id="sound_#{i}")
            source(src="/sounds/hit_#{i}.wav", type="audio/wav")
    - }