$color-primary      = #458C6B
$color-accent       = #D94436
$color-accent2      = #A62424
$color-relief       = #F2D8A7
$color-relief2      = #D9A86C
$font-primary       = 'Signika Negative', sans-serif
$font-accent        = 'Shojumaru', cursive


body
    background          $color-relief url('/images/noise.png') repeat
    transition          .1s background-color linear
    font-family         $font-primary

    &.hit_1
        background-color lighten($color-accent, 80%)
    &.hit_2
        background-color lighten($color-accent, 50%)
    &.hit_3
        background-color lighten($color-accent, 20%)
    &.hit_4
        background-color $color-accent
    &.hit_5
        background-color darken($color-accent, 20%)
    &.hit_6
        background-color darken($color-accent, 50%)
    &.hit_7
        background-color darken($color-accent, 80%)

h1
    margin              50px 0
    font-size           4.5em
    text-align          center

h1, h2, h3, h4, h5, h6
    font-family         $font-accent
    color               $color-accent
    text-shadow         0 1px 0px $color-accent2

p
    font-size           1.75em
    color               $color-primary
    text-align          center

.container-fluid
    margin              auto
    max-width           900px

@import 'listener'
@import 'broadcaster'