#broadcaster
    .loading, .ok-go, .error
        display             none
    .directions
        margin              20px 0 40px
        line-height         35px
    input
        padding             20px 10px
        font-size           18px
    button
        padding             10px